* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

header {
	background: blue;
	padding: 4%;
}

nav {
	background: navy;
	padding: 3%;
}

.content {
	width: 100%;
}

#main {
	background: royalblue;
	padding: 5%;
	height: 500px;
	float: left;
	width: 70%;
}

#aside {
	background: lightblue;
	padding: 5%;
	height: 500px;
	float: right;
	width: 30%;
}

#clear {
	clear: both;
}

footer {
	background: steelblue;
	padding: 4%;
}

@media (max-width: 600px) {
	#main,
	#aside {
		float: none;
		width: 100%;
	}
}
