header {
	background: blue;
	padding: 4%;
}

nav {
	background: navy;
	padding: 3%;
}

#main {
	background: royalblue;
	padding: 5%;
	float: left;
	width: 60%;
	height: 300px;
}

#aside {
	background: lightblue;
	padding: 5%;
	float: left;
	width: 20%;
	height: 300px;
	border-radius: 5;
}

#clear {
	clear: both;
}

footer {
	background: steelblue;
	padding: 4%;
}

body {
	padding: 0;
	margin: 0;
}

@media (max-width: 600px){
	.content {
		flex-direction: column;
	}

	nav, #aside, #main, header, footer{
		width: 100%;
	}
}