body {
	padding: 0px;
	margin: 0px;
} 

/* nav bar */

nav {
	background: #B71C1C;
	padding: 8px 0px;
}

nav ul {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-evenly;
}

nav ul li {
	background: #E53935;
	list-style: none;
	margin: 0.5%;
	padding: .4%;
}

nav ul li a {
	text-decoration: none;
	display: block;
	width: 100%;
	font-size: 20px;
	color: #FFFFFF;
}

/* first page */

#laliga-img {
	display: flex;
	align-items: center;     /* vertical alignment */
    justify-content: center; /* center horizontally if needed */
    flex-wrap: wrap; /* responsive wrap on smaller screen */

}

.laliga-logo {
	flex: 1;
}

.laliga-trophy {
	flex: 1;
}

.laliga-winner {
	flex: 2;
}

#laliga-img img {
	width: 100%;
	height: 400px;
	object-fit: cover; /* prevent stretching */
	display: block; /* remove unwanted inline spacing */
}

#about-laliga {
	background: #E53935;
	font-family: fantasy;
	width: 52%;
	float: left;
	font-size: 20px;
	padding: .5% 4%;
	color: #F5DEB3;
	height: 550px;
}

#about-laliga h2 {
	font-weight: lighter;
}

#laliga-team {
	float: left;
	background: #B71C1C;
	padding: .5% 4%;
	width: 32%;
	color: #F5DEB3;
	height: 550px;
}

#laliga-team h2 {
	font-size: 24px;
	font-weight: lighter;
	font-family: Impact;
}

.laliga-team li {
	font-size: 18px;
	font-family: Impact;
	list-style: square;
}

/* second page */

#left {
	display: flex;
	width: 60%;
	flex-direction: column;	
	float: left;
}

#left img {
	width: 100%;
	display: block;
	height: 250px;
	object-fit: cover;
}

.bundesliga-trophy {
	width: 100%;

}
.about-bundesliga {
	width: 100%;
	height: 300px;
	background: #D20515;
	font-family: Georgia;
	color: #FBBE99;
	flex: 2;
}

.about-bundesliga h2 {
	font-weight: 900;
	font-size: 28px;
	text-align: center;
}

.about-bundesliga p {
	font-weight: 600;
	font-size: 20px;
	padding: .4% 4%;
}

#bundesliga-team {
	float: left;
	height: 550px;
	background: #B71C1C;
	padding: 1% 4%;
	width: 32%;
	color: #F5DEB3;
	height: 550px;
}

#bundesliga-team h2 {
	font-size: 24px;
	font-family: Verdana;
	font-weight: 900;
	text-align: center;
}

.bundesliga-team-list {
	background: #B71C1C;
	list-style: square;
	font-family: Verdana;
	font-size: 20px;
}

.clear {
	clear: both;
}

/* third page */

#about-premier-league {
	background: #3D195B;
	float: left;
	padding: 4%;
	width: 52%;
	height: 618px;
}

#about-premier-league h1 {
	font-family: Verdana;
	font-weight: 800;
	color: whitesmoke;
}

#about-premier-league p {
	font-family: Verdana;
	color: whitesmoke;
	font-size: 20px;
	font-weight: 600;
}

.premier-league-trophy img{
	width: 37%;
	float: left;
	border: 20px solid blue;
	object-fit: cover; /* prevent stretching */
	height: 700px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: underline;
    margin: 10px 5px;
}

@media screen and (min-width: 500px) and (max-width: 700px){
	body{
		background: red;
	}
}