.first {
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	margin-bottom: 20px;
	opacity: .5;
}

.second {
	width: 100px;
	height: 100px;
	background: linear-gradient(red, green);
	border-radius: 5px 40px;
	margin-bottom: 20px;
}

.third {
	width: 100px;
	height: 100px;
	background: radial-gradient(blue, yellow);
	border-radius: 20px 10px 30px;
	margin-bottom: 20px;
}

.fourth {
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, gold, silver);
	border-radius: 20px 10px 30px 50px;
	margin-bottom: 20px;	
}

img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px dotted green;
}

body {
	background-image: url(texture_background.jpg), url(steph.png);
	background-repeat: no-repeat, repeat;
	background-size: 500px 400px, 800px 700px;
	background-position: left top, right bottom;
}